.venv
.ruff_cache
.pytest_cache
.vscode
.git
frontend/node_modules
yandex-browser-plugin
tests
__pycache__
*.pyc
data
prod
certs
*.crt
.ruff_cache
.pytest_cache
.hars
Makefile
README.md
AGENTS.md
*.md
eopp_original.js
